.profile {
  width: 15vw;
  height: 9vh;
  margin-right: 1.5em;
  margin-top: 1em;
  position: absolute;
  right: 0;
  border-radius: 1em;
  background-color: #B31B1B;
  border-color: #B31B1B;
}

.profile:hover {
  background-color: #eceff17a;
}

.profile > img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  float: left;
  margin: 1vw;
}

.profile > p {
  display: block;
  position: relative;
  bottom: 0.2em;
  color: #FFFFFF;
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}
