.wrapper {
  background-color: #B31B1B;
  padding: 3em;
  width: 100%;
  /*height: 100vh;*/
  margin: 0;
}

.dashboard {
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  color: #FFFFFF;
}

.dashboard h1 {
  margin: 0;
  font-size: 3.5em;
  letter-spacing: 2px;
  font-weight: normal;
  /*width: fit-content;*/
}

.dashboard h3 {
  font-size: 2.5em;
  margin-left: 1em;
  font-weight: normal;
}

.dashboard h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto 0.5em auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
