.banner {
  height: 20vh;
  width: 100vw;
}

.cover {
  height: 30vh;
  width: 100vw;
  object-fit: cover;
  /*background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,.5))*/
}

.logo {
  border-radius: 50%;
  height: 15vh;
  width: 9vw;
  float: left;
  position: relative;
  bottom: 17vh;
  margin: 0 5vh;
}

.banner > h1 {
  float: left;
  position: relative;
  bottom: 16vh;
  font-size: 50px;
  max-width: 80vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #FFFFFF;
  color: black;
  padding: 0.2em 0.4em;
  border-radius: 10px;
}
