.title {
  width: 100vw;
  height: 100vh;
  background-color: #B31B1B;
  padding: 0;
  margin: 0;
}

.title-text {
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: 25%;

}

.title-text > h1 {
  font-size: 80px;
  display: block;
  margin: 0;
  width: 100vw;
  text-align: center;
}

.title-text > h3 {
  font-size: 60px;
  display: block;
  margin: 0;
  margin-top: 0.25em;
  font-weight: normal;
  width: 100vw;
  text-align: center;
}
