.searchBox {
  position: absolute;
  top: 45%;
  left: 20%;
  margin: 2em auto;
}

.searchBox > .input > input {
  width: 55vw;
  height: 90px;
  font-size: 60px;
  padding: 0.2em;
  text-align: center;
}

.searchBox svg {
  vertical-align: center;
}

.searchBox > .input > button {
  font-size: 70px;
  height: 90px;
  width: 7vw;
  padding: 5px 15px;
  position: absolute;
}

.searchBox > .input > button:hover {
  color: #000000a6
}

.searchBox > .searchBox-options {
  height: 30vh;
  overflow: auto;
  width: 62vw;
}

.searchBox > .searchBox-options > a {
  display: block;
  background-color: #FFFFFF;
  font-size: 35px;
  height: 1.5em;
  padding: 0.2em 0.7em;
  text-decoration: none;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.searchBox > .searchBox-options > a:hover {
  background-color: lightgray;
}

.searchBox > .searchBox-options > a:visited {
  color: black;
}
