.searchBox {
  position: absolute;
  top: 50%;
  left: 22%;
  margin: 0 auto;
}

.searchBox > .input > input {
  width: 55vw;
  height: 7vh;
  font-size: 60px;
  /*border-radius: 20px;*/
  padding: 10px;
  text-align: center;
}

.searchBox > .input > button {
  font-size: 60px;
  height: 10vh;
  padding: 5px 15px;
}

.searchBox > .searchBox-options {
  height: 30vh;
  overflow: auto;
  /*border-radius: 20px;*/
}

.searchBox > .searchBox-options > a {
  display: block;
  background-color: #FFFFFF;
  font-size: 35px;
  height: 1.5em;
  padding: 0.2em 0.7em;
  text-decoration: none;
  color: black;
}

.searchBox > .searchBox-options > a:hover {
  background-color: lightgray;
}

.searchBox > .searchBox-options > a:visited {
  color: black;
}
